/ETMS.WebApi/bin
/ETMS.WxApi/bin
/ETMS.AiFace/bin
/ETMS.ExternalService/bin
/ETMS.Pay.Lcsw/bin
/ETMS.Pay.Suixing/bin
/ETMS.Manage.Web/bin
/Etms.Agent.WebApi/bin
/ETMS.Alien.Webapi/bin
/ETMS.DaemonService/bin
/ETMS.Entity/bin
/ETMS.Manage.Jobs/bin
/ETMS.Emgu/bin
/ETMS.OSS/sdk/bin
/ETMS.Manage.Entity/bin
/FubeiOpenApi.CoreSdk/bin
/ETMS.IAiFace/bin
/ETMS.Business/bin
/ETMS.EventConsumer/bin
/ETMS.Cache.Redis/bin
/ETMS.IBusiness/bin
/ETMS.DataAccess/bin
/ETMS.Log/bin
/ETMS.IDataAccess/bin
/ETMS.IEventProvider/bin
/ETMS.Event.DataContract/bin
/ETMS.Utility/bin
/ETMS.IOC/bin
/ETMS.Authority/bin
/ETMS.ICache/bin
/ETMS.ServiceBus/bin
/Etms.Tools.Test/bin
/ETMS.Event.DataContract/obj
/ETMS.WxApi/obj
/ETMS.EventConsumer/obj
/ETMS.Entity/obj
/ETMS.Manage.Jobs/obj
/ETMS.Emgu/obj
/ETMS.Manage.Entity/obj
/ETMS.DataAccess/obj
/ETMS.IBusiness/obj
/ETMS.IDataAccess/obj
/ETMS.IEventProvider/obj
/ETMS.IOC/obj
/ETMS.IAiFace/obj
/FubeiOpenApi.CoreSdk/obj
/ETMS.ICache/obj
/ETMS.OSS/sdk/obj
/ETMS.Authority/obj
/ETMS.Log/obj
/ETMS.ExternalService/obj
/ETMS.Business/obj
/ETMS.Cache.Redis/obj
/ETMS.DaemonService/obj
/Etms.Agent.WebApi/obj
/ETMS.Alien.Webapi/obj
/ETMS.WebApi/obj
/ETMS.Manage.Web/obj
/Etms.Tools.Test/obj
/ETMS.ServiceBus/obj
/ETMS.AiFace/obj
/ETMS.Pay.Lcsw/obj
/ETMS.Utility/obj
/ETMS.Pay.Suixing/obj
/.vs
/ETMS.AI.Baidu/obj
/ETMS.AI.Baidu/bin
